<html>
	<head>
		<title> web page </title>
	</head>
	<body>
		{% if message == "valid" %}
			<h1> welcome user </h1>
		{% elif message == "invalid" %}
			<h1> invalid user </h1>
		{% else %}
			<form method="post" action ="/index/" >
				{% csrf_token %}
				
				<table border = "2" align="center" height ="200px" width="400px">
					<tr>
						<th colspan="2" > Login </th>
					</tr>
					<tr>
						<td> User Name </td>
						<td> <input type="text" name="t1" placeholder="username" required> </td>
					</tr>
					<tr>
						<td> Password </td>
						<td> <input type="password" name="t2" placeholder="password" required> </td>
					</tr>
					<tr>
						<th colspan="2" > <button type="submit" > Login </th>
					</tr>
				</table>
			</form>
		{% endif %}
	</body>
</html>
					